@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  ol {
    list-style: revert;
    margin-block-start: revert;
    margin-block-end: revert;
    padding-inline-start: revert;
    font-size: 18px;
    overflow-wrap: break-word;
  }

  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}
